<!--WYSIWYG content - do not remove this comment, and never use this identical text in your topics-->
<h2>Cairo News - XXX 2013</h2>

<h3>Stable Releases News</h3>

<b>cairo</b>
<ul>
<li> cairo XXX is the current stable release. </li>
<li> Stable releases of Cairo are announced on the cairo mailing list, and are rolled into Intel's Linux Graphics quarterly Graphics Stack Release.  See https://01.org/linuxgraphics/downloads. </li>
</ul>

<b>pixman</b>
<ul>
<li> pixman XXX was released and announced XXX </li>
</ul>

<h3>Development News</h2>
<ul>
<li> XXX </li>
</ul>

<h3>Upcoming Events</h3>
<ul>
<li> X.org Developer's Conference: XDC2013 - Sept 23-25: Portland, Oregon </li>
<li> LibreGraphics Meeting: LGM2014 - April 2-5, 2014: Leipzig, Germany
</ul>

<h3>Samsung Activities</h3>
<p>
In addition to the upstream proposals mentioned above, the SRA-Silicon
Valley team has several cairo-related projects and branches under
development:
</p>
<ul>
<li> <a href="https://github.com/SRA-SiliconValley/cairogles">cairogles</a> branches include optimizations for the MSAA backend, and current work on improvements to filters (e.g. gaussian blur, shadow).</li>
<li> <a href="https://github.com/csyuschmjuh/cairo-nsgl">cairo-nsgl</a> - A cairo branch to enable it to use Apple's NSOpenGL library instead of GLX, thereby removing the need for X11 on OSX. </li>
<li> <a href="https://github.com/SRA-SiliconValley/gpu-proxy">gpu-proxy</a> - Not actually part of Cairo, but provides a virtual OpenGL ES 2.0 driver with state caching and non-blocking EGL operations to enable GLES using applications to run faster.</li>
<li> <a href="https://github.com/csyuschmjuh/cairo-xcb">cairo-xcb</a> - Optimizations to cairo when using the XCB libx11.</li>
</ul>

<h3>Final Thoughts</h3>
<p>
</p>

<h3><span style="line-height: 1em;">Page Permissions</span></h3>
<ul>
<li> Set ALLOWTOPICCHANGE =<span class="WYSIWYG_PROTECTED">&nbsp;Main.SraGroup</span> </li>
</ul>
