<!--WYSIWYG content - do not remove this comment, and never use this identical text in your topics-->
<p><span class="WYSIWYG_PROTECTED">%TOC%</span></p>
<h1 class="TML">$full_name - Week $week_number: $week_string</h1>
<h2 class="TML">Summary</h2>
<p><span class="WYSIWYG_PROTECTED"><br />%STARTSECTION{"Summary"}%</span></p>
<ul>
<li> None </li>
</ul>
<p>&nbsp;</p>
<h5 class="TML">Patch Summary</h5>
<ul>
<li> <span class="WYSIWYG_LINK">[[AutoTwiki][AutoTwiki Reporting Mechanism]]</span> </li>
</ul>
<table border="1" cellspacing="1" cellpadding="0">
<tbody>
<tr>
<th>Project</th><th>Submitted</th><th>Committed</th><th>Reviewed</th><th>Bug Fixes</th><th>Enhancements</th><th>New Features</th><th>GBM Requested</th>
</tr>
$patch_table_rows
</tbody>
</table>
<p><span class="WYSIWYG_PROTECTED"><br />%ENDSECTION{"Summary"}%</span></p>
<h2 class="TML">Upstream Development</h2>
<p><span class="WYSIWYG_PROTECTED"><br />%STARTSECTION{"Development"}%</span></p>
<p><strong><em>Wayland:</em></strong></p>
<ul>
<li> None </li>
</ul>
<p><strong><em>Cairo:</em></strong></p>
<ul>
<li> None </li>
</ul>
<h2 class="TML">Mentoring</h2>
<p><span class="WYSIWYG_PROTECTED"><br />%STARTSECTION{"Mentoring"}%</span></p>
<ul>
<li> None </li>
</ul>
<p><span class="WYSIWYG_PROTECTED"><br />%ENDSECTION{"Mentoring"}%</span></p>
<h2 class="TML">Internal Collaboration</h2>
<p><span class="WYSIWYG_PROTECTED"><br />%STARTSECTION{"Collaboration"}%</span></p>
<ul>
<li> None </li>
</ul>
<p><span class="WYSIWYG_PROTECTED"><br />%ENDSECTION{"Collaboration"}%</span></p>
<h2 class="TML">Meetings/Trips</h2>
<p><span class="WYSIWYG_PROTECTED"><br />%STARTSECTION{"Meetings/Trips"}%</span></p>
<ul>
<li> None </li>
</ul>
<p><span class="WYSIWYG_PROTECTED"><br />%ENDSECTION{"Meetings/Trips"}%</span></p>
<h2 class="TML">Issues</h2>
<p><span class="WYSIWYG_PROTECTED"><br />%STARTSECTION{"Issues"}%</span></p>
<ul>
<li> None </li>
</ul>
<p><span class="WYSIWYG_PROTECTED"><br />%ENDSECTION{"Issues"}%</span></p>
<h2 class="TML">Other</h2>
<ul>
<li> None </li>
</ul>
<h2 class="TML">Next Week</h2>
<p><strong><em>Development:</em></strong></p>
<p>Wayland:</p>
<ul>
<li> None </li>
</ul>
<p>Cairo:</p>
<ul>
<li> None </li>
</ul>
<p><strong><em>Mentoring:</em></strong></p>
<ul>
<li> None </li>
</ul>
<p><strong><em>Meetings/Trips:</em></strong></p>
<ul>
<li> None </li>
</ul>
<p><strong><em>Internal Collaboration:</em></strong></p>
<ul>
<li> None </li>
</ul>
<p><strong><em>Other:</em></strong></p>
<ul>
<li> None </li>
</ul>
