<!--WYSIWYG content - do not remove this comment, and never use this identical text in your topics-->
<h2>Wayland News - July 2013</h2>

<h3>Stable Releases News</h3>
<ul>
<li> The Wayland project is comprised of two code trees:  'wayland', which is just the
     protocol definition, and 'weston', the demo compositor that implements the backend
     server for the protocol. </li>
<li> weston XXX was released XXX, providing ... XXX</li>
<li> wayland XXX was released on XXX and is the current stable release.
     This release includes XXX.</li>
</ul>

<h3>Development News</h2>
<ul>
<li></li>
</ul>

<h3>Upcoming Events</h3>
<ul>
<li> X.org Developer's Conference: XDC2013 - Sept 23-25, Portland, Oregon </li>
<li> Linux Plumber's Conference: Sept 18-20, New Orleans, Louisiana </li>
</ul>

<h3>Final Thoughts</h3>
<p>
XXX
</p>

<h3><span style="line-height: 1em;">Page Permissions</span></h3>
<ul>
<li> Set ALLOWTOPICCHANGE =<span class="WYSIWYG_PROTECTED">&nbsp;Main.SraGroup</span> </li>
</ul>
