<!--WYSIWYG content - do not remove this comment, and never use this identical text in your topics-->
<h2>X.org News - July 2013</h2>

<h3>Stable Releases News</h3>
<ul>
<li> The current X.Org "roll up" release
is <a href="http://www.x.org/wiki/Releases/7.7">X11R7.7</a>.  X.org
tends not to produce these roll-up releases as frequently any more,
instead favoring semi-quarterly releases of individual packages of
note.</li>
<li> <b>xorg-server</b>: XXX was released XXX.</li>
<li> <b>mesa</b>: XXX - released XXX.   </li>
<li> <b>libX11</b>: XXX - release announced XXX. </li>
</ul>

<h3>Development News</h2>
<p>XXX</p>

<h3>Final Thoughts</h2>
<p>XXX</p>

<h3>Upcoming Events</h3>
<ul>
<li> Linux Plumber's Conference: Sept 18-20, New Orleans, Louisiana </li>
<li> X.org Developer's Conference: XDC2013 - Sept 23-25, Portland, Oregon </li>
</ul>

<h3><span style="line-height: 1em;">Page Permissions</span></h3>
<ul>
<li> Set ALLOWTOPICCHANGE =<span class="WYSIWYG_PROTECTED">&nbsp;Main.SraGroup</span> </li>
</ul>
